<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>


  <%= form_with model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch do |f| %>
    <%= f.hidden_field :public %>
    <%= f.submit "#{ @recipe.public ? 'Public' : 'Private' }" %>
  <% end %>


  <button>
    Generate shopping list
  </button>

  <button>
    Add ingrdient
  </button>
  
  <% recipe.foods.each do |food| %>
    <p><%= food.name %></p>
    <p><%= food.quantity %></p>
    <p><%= food.price %></p>
    <p>Modify - Remove</p>
  <% end %>
</div>
